<div class="interactive-wrapper">

    <div id="outer-wrapper">
        <div class='chartTitle'>Australia's competitors for the China market</div>
        <div class='subTitle'>China's top trade partners for Australia's major exports</div>
        <div class="row borderBottom chartSans" id="graphicContainer">	
                
        </div>
        <div class='footer offset'>
            Guardian graphic | Source: Guardian analysis of CEPI's BACI database
        </div>	
        
    </div>

    </div>

